body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}

.editorial {
    display: block;
    width: 100%;
    height: 100px;
    max-height: 60px;
    margin: 0;
    z-index:5;
    bottom:0;
    position:absolute;
    left:0px;
    float:left;
}

.parallax1 > use {
    animation: move-forever1 10s linear infinite;
}
.parallax2 > use {
    animation: move-forever2 8s linear infinite;
}
.parallax3 > use {
    animation: move-forever3 6s linear infinite;
}
.parallax4 > use {
    animation: move-forever4 4s linear infinite;
}
@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
}
@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}
@keyframes move-forever3 {
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
}
@keyframes move-forever4 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

.login-container {
    display: flex;
    width: 70%;
    max-width: 900px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: #333;
}

.login-left {
    flex: 1;
    background: #2e3d49;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    color: white;
}

.login-left img {
    max-width: 100%;
    height: auto;
}

.login-left h1 {
    margin: 20px 0;
    font-size: 24px;
    text-align: center;
}

.login-right {
    flex: 1.5;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-right h2 {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    color: #333;
}

.login-right form {
    display: flex;
    flex-direction: column;
}

.login-right label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.login-right input[type="text"], .login-right input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.login-right button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.login-right button:hover {
    background-color: #4cae4c;
}

.login-right .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.login-right .remember-me input {
    margin-right: 10px;
}

.login-right .remember-me label {
    margin: 0;
    font-weight: normal;
    color: #333;
}
